# Ignorer les fichiers de configuration sensibles
**/.env

# Ignorer les fichiers spécifiques à macOS
**/.DS_Store

# Ignorer les environnements virtuels
**/venv/
**/.venv/

# Ignorer les dossiers de cache Python
**/__pycache__/

# Ignorer les dossiers node_modules
**/node_modules/
website/mycert.crt
website/mykey.key
