#profile-block {
  background: rgba(96, 88, 213, 0.182);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.3);  Pour Safari */
  box-shadow: 0 8px 32px rgba(85, 62, 187, 0.646);
  border-radius: 12px;
  height: 93%;
  width: 35%;
}

#bio-div,
#mail-div {
  gap: 10px;
}

#right-profile-block {
  width: 60%;
  height: 100%;
}

.profile-label {
  color: rgba(40, 29, 159, 0.823);
}

#nemesis-avatar {
  aspect-ratio: 1 / 1;
}

.friend-request-icons {
  font-size: 20px;
  text-shadow: none;
}

.friend-request-icons:hover {
  text-shadow: none;
}

.friend-list-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0;
}

.friend-list-block {
  display: inline-block;
  margin-right: 10px;
}

.friends-avatar {
  width: 70px;
  margin: 5px;
  height: auto;
  aspect-ratio: 1 / 1;
  border: solid;
  border-color: white;
  border-width: 3px;
}

/*---------------- RIGHT PART ------------*/

#upper-stats-block {
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: none;
  border-radius: 12px;
  height: 50%;
}
#lower-stats-block {
  height: 40%;
  background-color: rgba(196, 17, 17, 0);
}
.upper-blocks {
  background-color: white;
  height: 100%;
  border-radius: 12px;
}

#user-match-history {
  width: 70%;
  overflow-x: auto;
}

#username {
  font-size: clamp(1.5rem, 12vmin, 4rem);
}

#winrate-block {
  width: 30%;
  height: auto;
}
#winrateChart {
  height: 60%;
  width: 60%;
}

.lower-blocks {
  height: 80%;
  width: 30%;
  border-radius: 12px;
}
#right-profile-block .glassmorphism-block {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.353);
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.71);
}

.div-banner {
  height: 30%;
  border-radius: 12px;
}

#user-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
}

.avatar-div {
  width: 100%;
  justify-content: center;
}

#friends-button-div i {
  color: white;
  font-size: 1.2rem;
  text-shadow: none;
}
#friends-button-div i:hover {
  font-size: 1.4rem;
}

#block-user-btn i:hover {
  color: rgba(223, 59, 59, 0.45);
}

#send-friend-request-btn i:hover {
  color: rgb(74, 130, 209);
}

#user-avatar {
  border-width: 1vw;
  border-style: ridge;
  border-color: #9ca6ef;
  width: 40%;
  height: auto;
  aspect-ratio: 1 / 1;
  /* filter: contrast(100%) brightness(130%); */
}

#giphy-flame {
  position: relative;
}

#winstreak-gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
