.parent_center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered_container_white {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(10px);
}

.login-title {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 0.6;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: blanchedalmond;
}
