iframe {
  width: 90%;
  height: 90%;
  border: none;
}

.scoreboard {
  font-weight: 300;
  font-size: 34px;
  letter-spacing: 10px;
  color: rgba(57, 67, 175, 0.74);
}

.game-form-container {
  border-radius: 12px;
}

#game-settings-btn{
  font-size: 3rem;
  /* color: white; */
  font-weight: 600;
  font-variation-settings: "ELGR" 1, "ELSH" 3.6;
}

#modal-title {
  font-size: 2.2rem;
  color: white;
}

#create-game-btn{
  font-size: 2.2rem;
}

.modal-form-label {
  font-size: 2rem;
}

.modal-body span {
  font-size: 2rem;
}

.hidden {
  display: none;
}
