<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon site{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'users/css/users.css' %}">
	<link rel="stylesheet" href="{% static 'game/css/game.css' %}">
	<link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">    {% block extra_head %}{% endblock %}
</head>
<body>
	{% block header_fix %}
	<header class="header">

		<div class="logo bungee-shade-regular">
			<a href="#">Transcendence</a>
		</div>
		{% comment %} <nav>
			<a href="#" onclick="loadUserProfiles(); return false;">Users</a>
			<a href="#" onclick="loadGames(); return false;">Games</a>
			<a href="#" onclick="loadLeaderboards(); return false;">Leaderboards</a>
		</nav> {% endcomment %}
		<div id="nav-main-button" style="min-width: 70vw; display: contents;">
		</div>
		{% comment %} {% if not user.is_authenticated %}
			<button id="signup-button" class="a-button">Inscription</button>
		{% else %}
		<p style="color: white;">Bienvenue, <span style="color: white; font-weight: 800;" >{{ user.email }}</span></p>
		<form method="POST" action="{% url 'logout' %}">
				{% csrf_token %}
				<button type="submit" class="a-button grey">Déconnexion</button>
			</form>
		{% endif%} {% endcomment %}
	</header>
	{% endblock %}
	{% comment %} {% block content %}{% endblock %} {% endcomment %}
	<main id="app">
        <!-- Le contenu dynamique sera injecté ici -->
    </main>
	<ul id="user-list"></ul>
	<footer class="footer">
		<p>By Kazuma, Neah & Martzoni</p>
	</footer>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/router.js' %}"></script>
	<script src="{% static 'users/js/signup.js' %}"></script>
	<script src="{% static 'users/js/login.js' %}"></script>
</body>
</html>
