<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon site{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'users/css/users.css' %}">
	<link rel="stylesheet" href="{% static 'game/css/game.css' %}">
	<link rel="stylesheet" href="{% static 'tournaments/css/tournaments.css' %}">
	<link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">    {% block extra_head %}{% endblock %}
</head>
<body>
	{% block header_fix %}
	<header class="header">

		<div class="logo bungee-shade-regular">
			<a href="#">Transcendence</a>
		</div>
		<div id="nav-main-button" style="min-width: 70vw; display: contents;">
		</div>
	</header>
	{% endblock %}
	<div class="sidebar">
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Profil</a></li>
            <li><a href="#game">Classical game</a></li>
            <li><a href="#tournaments">Tournament</a></li>
            <li><a href="#">Stats</a></li>
        </ul>
    </div>
	<main id="app">
        <!-- Le contenu dynamique sera injecté ici -->
    </main>
	<ul id="user-list"></ul>
	<footer class="footer">
		<p>By Kazuma, Neah & Martzoni</p>
	</footer>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/router.js' %}"></script>
	<script src="{% static 'users/js/signup.js' %}"></script>
	<script src="{% static 'users/js/login.js' %}"></script>
	<script src="{% static 'game/js/game.js' %}"></script>
	<script src="{% static 'tournaments/js/tournaments.js' %}"></script>
</body>
</html>
