.title {
  font-family: 'Bungee Shade', cursive; /* Utilisation de la police importée */
  text-transform: uppercase; /* Transformer le texte en majuscules */
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

