.title {
  font-family: 'Bungee Shade', cursive; /* Utilisation de la police importée */
  text-transform: uppercase; /* Transformer le texte en majuscules */
  letter-spacing: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.offcanvas-custom {
  width: 15vh;
  background-color: rgba(234, 15, 15, 0.261); /* Fond blanc avec transparence */
  border-radius: 0 0 12px 12px;
  left: auto !important;
}