.title {
  font-family: 'Bungee Shade', cursive; /* Utilisation de la police importée */
  text-transform: uppercase; /* Transformer le texte en majuscules */
  letter-spacing: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.offcanvas.offcanvas-custom {
  border-radius: 12px 12px 12px 12px;
  height: 60vh;
  width: 10vh;
  top: 10vh;
}