.title {
  font-family: 'Bungee Shade', cursive; /* Utilisation de la police importée */
  text-transform: uppercase; /* Transformer le texte en majuscules */
  letter-spacing: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.offcanvas.offcanvas-custom {
  border-radius: 12px;
  height: 80vh;
  width: 10vh;
  top: 12vh;
  right: 3px;
  background: rgba(255, 255, 255, 0.25); 
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(10px); 
  /* border: 1px solid rgba(255, 255, 255, 0.3);  Pour Safari */
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
}