#new-conversation-btn {
  border-radius: 1rem;
  border-color: white;
  border-width: medium;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-variation-settings: "ELGR" 1, "ELSH" 1;
  font-size: 1.3rem;
  background: #585eb6;
  color: white;
  transition: background 0.5s ease;
}

#new-conversation-btn:hover {
  border-radius: 1rem;
  border-color: #585eb6;
  border-width: large;
  font-weight: 500;
  background: transparent;
  color: #585eb6;
}

.user-conversation {
  border-radius: 1rem;
  border-color: #585eb6;
  border-width: medium;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-variation-settings: "ELGR" 1, "ELSH" 1;
  font-size: 1.3rem;
  background: transparent;
  color: #585eb6;
  transition: background 0.5s ease;
}

.user-conversation:hover {
  border-color: white;
  font-variation-settings: "" 1, "ELSH" 1;
  background: #585eb6;
  color: white;
  transition: background 0.5s ease;
}

#conversation-div {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.border-animation {
  position: relative;
  overflow: hidden;
}

.border-animation::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 0;
  background: white;
  animation: revealBorder 2s ease forwards;
}

@keyframes revealBorder {
  to {
    height: 100%; /* Anime la hauteur jusqu'à 100% de celle du parent */
  }
}

#chat-messages-div {
  overflow-y: auto;
}

#chat-messages-div::-webkit-scrollbar {
  display: none;
}

#message-input {
  margin-right: 1em;
  border-radius: 1em;
}

#send-message {
  font-size: 1.2rem;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#interaction-chat i {
  font-size: 1.7em;
}

h4 {
  color: rgb(67 70 168 / 75%);
  text-shadow: 1px 1px 2px rgba(250, 250, 250, 0.922);
}

.participant-link {
  color: rgb(67 70 168 / 75%);
  text-decoration: none;
}

.participant-link:hover {
  text-decoration: underline;
}

.chat-message {
  padding: 0.5em;
  margin-bottom: 5px;
  border-radius: 6px;
}

.invitation-message {
  border-style: outset;
  padding: 0.4em;
  margin-bottom: 5px;
  border-radius: 12px;
  cursor: pointer;
}

.external-message {
  background-color: aliceblue;
  color: #585eb6;
  border-color: #585eb6;
}

.user-message {
  background-color: #585eb6;
  color: aliceblue;
  border-color: aliceblue;
}

#chat_window{
  height: 100%;
}

