.form-group {
	display: flex;
	flex-direction: column;
	margin-top: 18px;
	margin-bottom: 18px;
	width: 320px;
}

input {
	margin-top: 6px;
	height: 36px;
	font-size: 18px;
	font-family: "Roboto Mono", monospace;
}

.parent_center {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.centered_container_white {
	display: inline-block;
    padding: 40px 40px;
    box-sizing: border-box;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
