.login-title {
  font-weight: 300;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.975);
}

.form-label {
  font-weight: 300;
  letter-spacing: 3px;
  color: rgba(57, 67, 175, 0.74);
}

.form-control {
  transition: border-color 0.5s ease-in-out, box-shadow 1s ease-in-out;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(81, 13, 253, 0.25);
  border-color: rgba(108, 55, 242, 0.25);
}

