{% extends "base.html" %}

{% block title %}Page du Jeu{% endblock %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'game/css/game.css' %}">
{% endblock %}

{% block content %}
<div class="centered-container">
    <h1>Bienvenue sur la page du jeu</h1>
    <p>Ceci est une page dédiée au jeu Pong.</p>
    <p>Plus de contenu sur le jeu à venir ici.</p>
    <div class="box">
        <iframe src="https://sethclydesdale.github.io/browser-pong/" title="Browser Pong"></iframe>
        {% comment %} <h2 class="box-text">Bourre moi ton pong ici ! </h2> {% endcomment %}
    </div>
</div>
{% endblock %}
