#animated-title {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "ELSH" 0.6;
  text-transform: uppercase;
  letter-spacing: 3vw;
  font-size: 10rem;
  text-shadow: 2px 2px 0 rgb(26 99 221 / 80%), 6px 6px 0 rgb(71 64 194 / 40%),
    8px 8px 0 rgb(51 82 209 / 20%);
  margin-left: 0.5vmax;
}

.nothing {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 2rem;
  text-shadow: 2px 2px 0 rgb(26 99 221 / 80%);
}

.title {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 0.6;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 3.5rem;
  text-shadow: 2px 2px 0 rgb(26 99 221 / 80%), 6px 6px 0 rgb(71 64 194 / 40%),
    8px 8px 0 rgb(51 82 209 / 20%);
  margin-left: 0.5vmax;
}

#landing-page button {
  background-color: transparent;
  position: relative;
  font-size: 3rem;
  border: 5px solid #100657c1;
  color: #141855a1;
  border-radius: 30px;
  padding: 10px 30px;
  animation: shadow-spin 2s linear infinite;
}

#landing-page button:hover {
  animation: glitch-effect 0.8s steps(2, end) infinite, shadow-spin 2s linear infinite;
}

@keyframes glitch-effect {
  0% {
    font-variation-settings: "ELSH" 0.5;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.8), 6px 6px 0 rgb(71 64 194 / 40%),
    8px 8px 0 rgb(51 82 209 / 20%);
    box-shadow: white;
  }
  20% {
    font-variation-settings: "ELSH" 3.5;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8), 5px 5px 0 rgb(71 64 194 / 40%),
    7px 7px 0 rgb(51 82 209 / 20%);
    box-shadow: white;
  }
  40% {
    font-variation-settings: "ELSH" 6.5;
  }
  60% {
    font-variation-settings: "ELSH" 4.5;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.8), -5px -5px 0 rgb(71 64 194 / 40%),
    -7px -7px 0 rgb(51 82 209 / 20%);
    display: inline-block;
    transform: rotate(360deg);
  }
  80% {
    font-variation-settings: "ELSH" 5.5;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.8), -5px -5px 0 rgb(71 64 194 / 40%),
  }
  100% {
    font-variation-settings: "ELSH" 2.5;
  }
}

@keyframes shadow-spin {
  0% {
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.4), -5px -5px 15px rgba(71, 64, 194, 0.3);
  }
  25% {
    box-shadow: -5px 5px 15px rgba(255, 255, 255, 0.6), -10px -10px 20px rgba(71, 64, 194, 0.2);
  }
  50% {
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.8), 5px -5px 20px rgba(71, 64, 194, 0.4);
  }
  75% {
    box-shadow: 5px -5px 15px rgba(255, 255, 255, 0.6), 10px 10px 20px rgba(71, 64, 194, 0.3);
  }
  100% {
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.4), -5px -5px 15px rgba(71, 64, 194, 0.3);
  }
}

#nav-bar-username {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  letter-spacing: 3px;
  font-style: normal;
  font-size: 3rem;
  font-variation-settings: "ELGR" 1, "ELSH" 1;
  color: rgba(255, 255, 255, 0.965);
  text-shadow: 2px 2px 0 #0f147177;
}

.notification-badge {
  background: #c1c1ff;
  border: solid;
  font-size: 0.75rem;
  z-index: 10;
}

.offcanvas.offcanva-custom {
  border-radius: 12px;
  height: 80vh;
  width: auto;
  top: 12vh;
  right: 3px;
}

.glassmorphism-block {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.3);  Pour Safari */
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
}

i {
  font-size: 2.5rem;
  color: rgba(57, 67, 175, 0.74);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
    -2px -2px 2px rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
}

i:hover {
  font-size: 2.2rem;
  color: #f8f9fa;
  text-shadow: -3px -3px 2px rgba(0, 0, 0, 0.15),
    3px 3px 2px rgba(255, 255, 255, 0.8);
}

.custom-btn {
  border-radius: 1rem;
  border-width: medium;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-variation-settings: "ELGR" 1, "ELSH" 1;
  font-size: 2rem;
}

.custom-btn:hover {
  color: #b2b1f3;
  font-weight: 350;
  box-shadow: 2px 2px 0px #b2b1f3;
}

body {
  background: linear-gradient(135deg, #ffffff 0%, #b2b1f3 100%);
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 1;
}

footer p {
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 1;
  font-family: "Handjet", sans-serif;
  text-shadow: -1px 1px 0px #f8f9fa;
  color: rgb(84 45 208 / 57%);
}

#login-form input,
#signup-form textarea,
#signup-form input {
  font-size: 2.5rem;
}

#app {
  height: 88%;
}
.modal-dialog {
  width: 50%;
}
.modal-content {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
}

.form-control {
  transition: border-color 0.5s ease-in-out, box-shadow 1s ease-in-out;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(81, 13, 253, 0.25);
  border-color: rgba(108, 55, 242, 0.25);
}

.large-label {
  font-weight: 300;
  letter-spacing: 10px;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.975);
}

.form-label {
  font-weight: 300;
  letter-spacing: 3px;
  color: rgba(57, 67, 175, 0.74);
  font-size: 3rem;
}

.offcanvas-backdrop {
  background-color: transparent !important;
}
